h1 {
	color: red;
}
.new {
	background: blue;
	color: white;
	font-size: 16px;
	width: 100px;
	height: 75px;
	margin-bottom: 80px;
}
#block {
	color: red;
}
.block2 {
	background: green;
	color: white;
	height: 25px;
	padding: 10px;
}
.block3 {
	background: green;
	color: white;
	height: 20px;
	padding: 40px;
}
.new2 {
	padding-left: 120px;
}
li {
	border: 1px solid black;
	font-size: 24px;
}
